DSMComms/cliente/Generated/bhldr.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <schema targetNamespace="http://tempuri.org/bhldr.xsd"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:bhldr="http://tempuri.org/bhldr.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <simpleType name="DataType"><!-- bhldr__DataType -->
      <restriction base="xsd:string">
        <!-- = 0 -->
        <enumeration value="UNKNOWN"/><!-- UNKNOWN -->
        <!-- = 1 -->
        <enumeration value="ANALOG"/><!-- ANALOG -->
        <!-- = 2 -->
        <enumeration value="DIGITAL"/><!-- DIGITAL -->
      </restriction>
    </simpleType>
    <complexType name="dataFormat"><!-- bhldr__dataFormat -->
          <sequence>
            <element name="infoName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- bhldr__dataFormat::infoName -->
            <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- bhldr__dataFormat::value -->
            <element name="timestamp" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- bhldr__dataFormat::timestamp -->
            <element name="dataType" type="bhldr:DataType" minOccurs="1" maxOccurs="1"/><!-- bhldr__dataFormat::dataType -->
          </sequence>
    </complexType>
    <complexType name="requestFormat"><!-- bhldr__requestFormat -->
          <sequence>
            <element name="infoName" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- bhldr__requestFormat::infoName -->
            <element name="timestamp" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- bhldr__requestFormat::timestamp -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="lookup">
      <complexType>
          <sequence>
            <element name="input" type="bhldr:requestFormat" minOccurs="0" maxOccurs="unbounded"/><!-- bhldr__lookup::input -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="lookupResponse">
      <complexType>
          <sequence>
            <element name="data" type="bhldr:dataFormat" minOccurs="1" maxOccurs="unbounded"/><!-- bhldr__lookup::data -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="registerInfo">
      <complexType>
          <sequence>
            <element name="inputInfo" type="bhldr:dataFormat" minOccurs="0" maxOccurs="unbounded"/><!-- bhldr__registerInfo::inputInfo -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="registerInfoResponse">
      <complexType>
          <sequence>
            <element name="result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/><!-- bhldr__registerInfo::result -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="updateInfo">
      <complexType>
          <sequence>
            <element name="message" type="bhldr:dataFormat" minOccurs="0" maxOccurs="unbounded"/><!-- bhldr__updateInfo::message -->
          </sequence>
      </complexType>
    </element>
  </schema>

